.filter-section{
    display: flex;
    width: 21%;
    height: 555px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 20px;
    color: black;
}